$orange: #ffa500;

body {
    display: border-box;
    color: #ffffff;
    // font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.screen {
    background-image: url('../img/cinemaSmall.jpeg');
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    font-family: 'Limelight', cursive;
}

.search {
    width: 70%;
    min-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    &__title {
        font-size: 5rem;
        letter-spacing:  .3rem;
        margin: 1em auto;
    }

    &__bar {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;

        &--input {
            width: 70%;
            height: 42px;
            background-color: #d3d3d3;
            font-size: 1.5rem;
            padding: 0 1em;
        }

        &--input::placeholder {
            font-size: 1rem;
            color: #778899;
            letter-spacing:  .2rem;
            text-align: center;
        }

        &--input:focus {
          background: #ffffff;
        }

        &--button {
            width: 20%;
            height: 42px;
            border-radius: 6px;
            background-color: $orange;
            font-size: 1rem;
            font-style: bold;
            letter-spacing: .1rem;
            padding: .5rem 1rem;

            &:hover {
                 transform: scale(1.1);
                 background-color: #444444;
            }
        }
    }

    &__result {
        font-size: 1.3rem;
        min-height: auto;
    }
}
